<!DOCTYPE html>
<html lang="en" ng-app="dd-auth-wrapper">
<head>
    <meta charset="UTF-8">
    <title>dd-auth-wrapper</title>
    <script src="../dist/dd-auth-wrapper.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <style>
        .wait-hidden { display: none; }
    </style>
    <script type="application/javascript">
        angular.module('dd-auth-wrapper')
            // App configuration
            .config(['ddAuthServiceProvider', 'ddHttpServiceProvider', function (ddAuthServiceProvider, ddHttpServiceProvider) {


                ddHttpServiceProvider.setBaseUrl('');

                ddAuthServiceProvider.setUrlOptions({
                    auth: {
                        path: '/dd-auth-wrapper/test/api/account/auth.json',
                        map: {
                            displayname: "name",
                            username: "username"
                        }
                    },
                    signout: {
                        path: '/dd-auth-wrapper/test/api/account/logout.json'
                    }
                });

                ddAuthServiceProvider.enablePasswordHash(true, {
                    algorithm: 'SHA-256',
                    inputType: 'TEXT',
                    returnType: 'BYTES',
                    secretType: 'TEXT'
                });

                ddAuthServiceProvider.setPasswordSecret('mysecret');

            }])

            // Login controller
            .controller('loginController', ['$scope', 'ddAuthService', function($scope, ddAuthService) {
                $scope.submit = function() {
                    ddAuthService.authenticate($scope.login.username, $scope.login.password);
                }
            }])
    </script>
</head>
<body dd-auth-enabled login-section="#login" content-section="#content" class="wait-hidden">
    <div class="container">
        <!-- Login form -->
        <section id="login">
            <h2>login</h2>
            <form class="form-horizontal" ng-controller="loginController" ng-submit="submit()">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" class="form-control" ng-model="login.username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control" ng-model="login.password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </section>
        <!-- End Login form -->
        <!-- Content -->
        <section id="content">
            <h2>Content</h2>
        </section>
        <!-- End Content -->
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>
</html>